<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show_application</title>
</head>
<body>
<h1>INFO ABOUT APPLICATION</h1>
<hr/>
<span th:text="${application.toString()}"></span>
<br/>
<button>
    <a href="/application">BACK</a>
</button>
<form th:method="DELETE" th:action="@{/application/{id} (id = ${application.getId()})}">
    <input type="submit" value="DELETE"/>
</form>
<form th:method="GET" th:action="@{/application/{id}/edit (id = ${application.getId()})}">
    <input type="submit" value="UPDATE"/>
</form>
</body>
</html>